    <section id="distinctions" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Distinctions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">

		<style>
		td.position-text-awards {
		text-align: right;
		}
		</style>

			<div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th><h3 class="teste" style="font-size: 25px;">2014</h3></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="padding: 10px;">
                                    <td class="gpin-desc col-md-5" style="text-align:right;padding: 10px;"><b style="text-align:right;">Honorable Mention - Best Thesis in Computer Science USP</b></td>
                                    <td class="gpin-desc col-md-7"style="padding: 10px;">Awarded an honorable mention as best doctoral thesis in Computer Science by University of São Paulo.</td>
                                </tr>
                                <tr>
                                    <td class="gpin-desc col-md-5" style="text-align:right;padding: 10px;"><b>Best Thesis in Computer Science - SBC</b></td>
                                    <td class="gpin-desc col-md-7"style="padding: 10px;">Awarded the best doctoral thesis in Computer Science by the Brazilian Computer Society.</td>
                                </tr>
                                <tr>
                                    <td class="gpin-desc col-md-5" style="text-align:right;padding: 10px;"><b>Best Thesis in Computer Science - CAPES</b></td>
                                    <td class="gpin-desc col-md-7"style="padding: 10px;">Awarded the best doctoral thesis in Computer Science by CAPES.</td>
                                </tr>
                                <tr><td class="gpin-desc col-md-5"></td><td class="gpin-desc col-md-7"></td></tr>
                            </tbody>
                        </table>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th><h3 class="teste" style="font-size: 25px;">2013</h3></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="gpin-desc col-md-5" style="text-align:right;padding: 10px;"><b>Best Paper of SBBD 2013</b></td>
                                    <td class="gpin-desc col-md-7">Awarded the best paper of the Brazilian Symposium on Databases.</td>
                                </tr>
                                <tr>
                                    <td class="gpin-desc col-md-5" style="text-align:right;padding: 10px;"><b>Best Paper of IEEE CEC 2013</b></td>
                                    <td class="gpin-desc col-md-7">Awarded the best student paper of the Congress on Evolutionary Computation.</td>
                                </tr>
                                <tr>
                                    <td class="gpin-desc col-md-5" style="text-align:right;padding: 10px;">Third best paper of CIAB FEBRABAN</td>
                                    <td class="gpin-desc col-md-7">Awarded the third place of CIAB FEBRABAN, </td>
                                </tr>
                                <tr><td class="gpin-desc col-md-5"></td><td class="gpin-desc col-md-7"></td></tr>
                            </tbody>
                        </table>

                    </div>

    </section>
