	<section id="news-events">
		<div class="container">
			<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News and Events</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">

			<div class="col-md-6 portfolio-item" style="border-right: 1px solid #ececec">

				<span class="glyphicon glyphicon-file" style="float:left; color: #C0C0C0; padding: 1px 5px 1px 15px;"></span>	
				<h4 class="section-heading" style="color: #f05f40; text-align:left; padding-bottom: 20px; padding-left: 20px; font-weight: bold;">NEWS</h4>

				<div class="col-md-6 portfolio-item">
					<a href="#">
						<img class="img-responsive img-thumbnail" src="img/news/pic1.png" alt="" style="padding: 0px; margin: 0px;">
					</a>
					<h3 style="padding: 5px 5px 5px 0px; margin: 0px; font-size: 17px;">
						<a href="#" >Primeira notícia sobre o núcleo.</a>
					</h3>
					<p style="font-size: 12px;">Uma breve desc</p>
				</div>

				<div class="col-md-6 portfolio-item">
					<a href="#">
						<img class="img-responsive img-thumbnail" src="img/news/pic1.png" alt="" style="padding: 0px; margin: 0px;">
					</a>
					<h3 style="padding: 5px 5px 5px 0px; margin: 0px; font-size: 17px;">
						<a href="#" >Primeira notícia sobre o núcleo.</a>
					</h3>
					<p style="font-size: 12px;">Uma breve desc</p>
				</div>

				<div class="col-md-6 portfolio-item">
					<a href="#">
						<img class="img-responsive img-thumbnail" src="img/news/pic1.png" alt="" style="padding: 0px; margin: 0px;">
					</a>
					<h3 style="padding: 5px 5px 5px 0px; margin: 0px; font-size: 17px;">
						<a href="#" >Primeira notícia sobre o núcleo.</a>
					</h3>
					<p style="font-size: 12px;">Uma breve desc</p>
				</div>

				<div class="col-md-6 portfolio-item">
					<a href="#">
						<img class="img-responsive img-thumbnail" src="img/news/pic1.png" alt="" style="padding: 0px; margin: 0px;">
					</a>
					<h3 style="padding: 5px 5px 5px 0px; margin: 0px; font-size: 17px;">
						<a href="#" >Primeira notícia sobre o núcleo.</a>
					</h3>
					<p style="font-size: 12px;">Uma breve desc</p>
				</div>

			</div>
			<div class="col-md-6 portfolio-item">
				<span class="glyphicon glyphicon-th-large" style="float:left; color: #C0C0C0; padding: 1px 5px 1px 1px;"></span>	
				<h4 class="section-heading" style="color: #f05f40; align:left; padding-bottom: 20px; font-weight: bold;">CALENDAR</h4>
				<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=pt.brazilian%23holiday%40group.v.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FSao_Paulo" style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
			</div>
        </div>
    </section>