    <section id="projects">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
		
		
	<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/default.jpg" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
							<h4>Programa de Formação e Captação em Sistemas de Informação</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://disaster-robotics-proalertas.github.io/" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/enchente-porto-alegre-1941.jpg" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pró-Alertas Disaster Robotics</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/painter.jpg" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Painter robot for shipbuilding industry</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/default.jpg" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Donnie: educational robot for blind students</h4>
                    </div>
                </div>
				
				<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://www.inf.ufrgs.br/hratc2017/" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/facilities/lsa-pioneer.jpg" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Autonomous mine detection robot</h4>
                    </div>
                </div>
				
				<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/default.jpg" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Probabilistic Models for Demand Forecasting</h4>
                    </div>
                </div>
				
				<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/default.jpg" class="img-responsive img-thumbnail" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Probabilistic Models for Demand Forecasting</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
		
    </section>