    <section id="staff">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Staff</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
		
		<style>
		.teste {
		color: #f05f40;
		font-size: 16px;
		font-weight: bold;
		}
		</style>
            
            <div class="row">
                <div class="col-sm-2">
                    <div class="team-member">
						<a href="#rodrigo-barros" class="portfolio-link" data-toggle="modal">
                        	<img src="img/team/leader-felipe.jpg" class="img-responsive img-circle" alt="">
						</a>
                        <h4 class="teste"><a href="http://www.meneguzzi.eu/felipe">Felipe Meneguzzi</a></h4>
                        <p class="text-muted">Professor - Leader</p>
                    </div>
                </div>
				
                <div class="col-sm-2">
                    <div class="team-member">
                        <a href="#rodrigo-barros" class="portfolio-link" data-toggle="modal">
							<img src="img/team/leader-rodrigo.jpg" class="img-responsive img-circle" alt="">
						</a>
						<h4 class="teste">Rodrigo Barros</h4>
                        <p class="text-muted">Professor</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/leader-duncan.jpg" class="img-responsive img-circle" alt="">
                        <h4 class="teste">Duncan D. A. Ruiz</h4>
                        <p class="text-muted">Professor</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="team-member">
                        <a href="https://amamory.github.io/" class="portfolio-link" data-toggle="modal">
							<img src="img/team/leader-amory.jpg" class="img-responsive img-circle" alt="">
						</a>
                        <h4 class="teste">Alexandre Amory</h4>
                        <p class="text-muted">Professor</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/default-user.png" class="img-responsive img-circle" alt="">
                        <h4>Default User</h4>
                        <p class="text-muted">Position</p>
                    </div>
                </div> 
            </div>
             
        </div>

    </section>
	
	<!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="felipe-meneguzzi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img src="img/team/leader-felipe.jpg" class="img-centered img-responsive img-circle" alt="" style="margin: auto; padding-bottom: 20px;">
							<h2>Felipe Meneguzzi</h2>
                            <p class="item-intro text-muted">Professor in Computer Science</p>
                            
                            <p class="text-justify"><p>Felipe Meneguzzi is a researcher on multiagent systems, BDI agent reasoning, normative
    reasoning and automated planning. 
	He is currently an Associate Professor at <a href="http://www.inf.pucrs.br">Pontif&iacute;cia Universidade Cat&oacute;lica do Rio Grande do Sul</a>, where he leads the <a href="http://ebooks.pucrs.br/edipucrs/Ebooks/Web/catalogodepesquisas/2016/#/about/en-us/tic/6">Group on Autonomous Systems</a>. 
	He was head of the <a href="http://www3.pucrs.br/portal/page/portal/facinuni/facinuniCapa/facinuniPesquisa/facinuniPesquisaComissao">Scientific Committee</a> of the School of Computer Science, and a member of the <a href="http://www3.pucrs.br/portal/page/portal/facinuni/facinuniCapa/facinuniAdministracao">Teaching Board</a> of the Computer Science undergraduate program for the period of 2014 to 2016. 
	Finally, he is of the co-founders of <a href="http://www.gigabrain.com.br">Gigabrain Ltd</a>. a startup company that carries out research consultancy and post-processing of neuroimaging data. 
	He currently holds CNPq's highly productive researcher fellowship, and have received the following professional recognitions:
	<ul>
		<li>received a <a href="https://sites.google.com/a/eurekandco.com/google-research-awards-2016/proyectos">Google Research Award for Latin America in 2016</a>;</li>
		<li>the team he advised won the <a href="https://multiagentcontest.org/2016/#results">2016 Multi-Agent Programming Contest</a>;</li>
		<li>was part of the team that took second place on the <a href="http://psymri.org/PAC.html">2016 Predictive Analytics in Mental Health Competition (PAC)</a>; </li>
		<li>finished as one of the four runners up to the Microsoft Research Faculty Fellowship in 2013; and</li>
		<li>his student Ramon Pereira was recognised as having the second best <a href="http://cin.ufpe.br/~bracis2016/accepted-papers-ctdiac.html">MSc dissertation in Artificial Intelligence in Brazil.</a></li>
	</ul>
	</p>
                            <p style="margin-bottom:5px;"><b>Email: <a href="mailto:felipe.meneguzzi@pucrs.br">felipe.meneguzzi@pucrs.br</a></b></p>
                            <p style="margin-bottom:20px;"><b>Curriculum vitae: <a href="http://lattes.cnpq.br/5973550650941724" target="_blank">http://lattes.cnpq.br/5973550650941724</a></b></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="rodrigo-barros" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img src="img/team/rodrigo.jpg" class="img-centered img-responsive img-circle" alt="" style="margin: auto; padding-bottom: 20px;">
							<h2>Rodrigo Barros</h2>
                            <p class="item-intro text-muted">Professor in Computer Science</p>
                            
                            <p class="text-justify">Dr. Rodrigo C. Barros is a specialist in machine learning and data mining research. His research interests also include biologically-inspired computational intelligence algorithms, primarily focusing on evolutionary computation solutions to data mining and machine learning problems. In 2012, Dr. Barros spent a year as a visiting research assistant at the School of Computing, University of Kent, UK, working on the development of novel machine learning algorithms. Dr. Barros received the best doctoral thesis in Computer Science from the Brazilian Computer Society, and also the CAPES Award of Best Thesis from the Brazilian research agency CAPES, both due to his outstanding doctoral thesis on the automatic design of machine learning algorithms. He received his Ph.D. degree in Computational Mathematics and Computer Science from ICMC-USP, Brazil, in 2013, and his M.Sc. degree in 2009 from FACIN-PUCRS.</p>
                            <p style="margin-bottom:5px;"><b>Email: <a href="mailto:rodrigo.barros@pucrs.br">rodrigo.barros@pucrs.br</a></b></p>
                            <p style="margin-bottom:20px;"><b>Curriculum vitae: <a href="http://lattes.cnpq.br/5547209032732533" target="_blank">http://lattes.cnpq.br/5547209032732533</a></b></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>